<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="InternalResourceViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/pages/" />
 		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="/fc.form" class="com.maersk.line.moc.web.FirstController" />
	<bean id="/sc.form" class="com.maersk.line.moc.web.SecondController"></bean>
</beans>
